body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  min-width: 320px;
  font-size: 14px;
  line-height: 1;
  color: #333;
  background-color: #fff;
}

.container--zen {
  max-width: 960px;
  padding: 20px;
  background: #eee;
  margin: 0 auto;
  text-align: center;
}
